@model IEnumerable<Discord.Rest.RestGuild>

@{
    ViewData["Title"] = "Guild overview";
}

<div id="autoresize-card" class="col-8 card mx-auto">
    <div class="col-md-2">
        <br />
        <div id="create-button"><modal-form-trigger action="Create" only-icon="false" url="@Url.Action("Create", "Guild")" /></div>
    </div>
    <table class="table data-table" index-table="true">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th></th>
                <th><modal-form-trigger action="Create" only-icon="true" url="@Url.Action("Create", "Guild")" /></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var news in Model.ToList())
            {
                <tr>
                    <td><a asp-action="Details" asp-route-id="@news.Id.ToString()">@Html.DisplayFor(_ => news.Name)</a></td>
                    <td>@Html.DisplayFor(_ => news.Id)</td>
                    <td></td>
                    <td>
                        <modal-form-trigger action="Edit" parameters="new { id = news.Id.ToString() }" only-icon="true" url="@Url.Action("Edit", "Guild")" />
                        <modal-form-trigger action="Delete" parameters="new { id = news.Id.ToString() }" only-icon="true" url="@Url.Action("Delete", "Guild")" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>